@{
    ViewData["Title"] = "Home Page";
}
@{
    Console.WriteLine("Start Index");
 }

<h1>Index start</h1>
<div class="text-center">
    <h1 class="display-4">I am  Rokibul Hassan Remon</h1>
    <p><b>Hello,World!</b>The time on the server is <b>@DateTime.Now</b></p>
</div>
@if(true){
    <h1>Index  end</h1>
}

@{
    Console.WriteLine("Start end");
}