@{
    Console.WriteLine("ViewStart start");
    <h1>Staring ViewStart </h1>
    Layout = "_Layout";
    Console.WriteLine("Call Layout");
    <h1>Ending ViewStart</h1>
    Console.WriteLine("ViewStart end");

}
